*{
    margin:0;
    padding:0;
}

body{
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100vh;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(169,235,236);
    background: linear-gradient(0deg, rgba(169,235,236,0.6349133403361344) 55%, rgba(36,129,149,1) 100%);
}

.content{
    margin: 0 auto;
    max-width: 90%;
    min-height: 100%;
}


.display-4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 7vw;
    color: rgb(160, 156, 156);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: .75vw .75vw .75vw black;
    margin: 2.5%auto 2.5%;
}

.lead{
    font-weight: bold;
    font-size: 3vw;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5%;
}

#instructions{
    color: rgb(50, 55, 61);
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 5%;
}

#gems{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.image{
    width: 25%;
    height: 25%;
}

.main{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

#text-one{
    display: flex;
    justify-content:space-around;
    font-weight: bold;
    font-size: 2vw;
    color: rgb(66, 75, 85);
}

#to-guess{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 8vw;
    color: blue;
}

#user-guess{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 8vw;
    color: green;
}

#wins-losses{
    display: flex;
    justify-content:space-around;
    margin-bottom: 20%;
}

.wins{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
    color:blue;
}

.defeat{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
    color:red;
}

.foot{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color:slategray;
    color: white;
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
}

@media only screen and (max-width: 680px) {
.container{
    font-size: 75%;
}
.lead{
    justify-content: center;
    align-items: center;
}

#instructions{
    font-size: 13px;
}

#to-guess, #user-guess{
    font-size: 4em;
}

.rows{
    width:100%;
}

.gems{
    width:50%;
    }

#text-one{
    font-size: 1em;
}
}

